/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './theme.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.flex {
  display: flex;
}

.text-{
  &center{
    text-align: center;
  }
  &end{
    text-align: flex-end;
  }
  &start{
    text-align: start;
  }
}

.justify-{
  &center{
    justify-content: center;
  }
  &end{
    justify-content: flex-end;
  }
  &start{
    justify-content: start;
  }
  &between{
    justify-content: space-between;
  }
  &around{
    justify-content: space-around;
  }
}

.w-100{
width: 100%;
}


